* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: white;
    text-decoration: none;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
body {
    /* background: #0f0715; */

    background: rgb(15,7,21);
    background: linear-gradient(90deg, rgba(15,7,21,1) 0%, rgba(33,11,49,1) 61%);
}
.container-fluid {
    max-width: 1200px;
    margin: auto;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
img {
    width: 50px;
    height: 50px;
}
header {
    background: #050709;
    padding: 20px 0px;
}
header p {
    font-size: 2rem;
}
section {
    padding: 40px 20px;
}
header > section {
    padding: 5px 20px;
}
#nav_bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#welcome {
    padding: 80px 20px 40px 20px;
}
#welcome, #about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 7rem;
    
}
#experience .card, #education .card {
    margin-bottom: 3rem;
}
#welcome > .profile-image {
    display: flex;
    align-items: center;
    justify-content: center;
}
.card:hover > p {
    color: white;
}
.card .year {
    color: #8750f7;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 8px;
}
.card .role {
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 8px;
    font-weight: var700;
    line-height: 1.2;
    color: white;
}
.card .address {
    color: #DDDDDD;
}
.profile_image_wrapper {
    display: flex;
    height: 355px;
    width: 311px;
    border: 1px solid violet;
    background:  #0f061f;
    padding: 27px;
    border-radius: 38px;
    transform: rotate(5.29deg);
    position: relative;
    border: 2px solid  #2a1454;
    transition: 0.3s;
}
.profile_image_wrapper:hover {
    border: 2px solid  #8750f7;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    cursor: pointer;
}
#welcome > .profile-image > .profile_image_wrapper img {
    width: 100%;
    height: auto;
}
.skills-list {
    display: grid;
    grid-template-columns: repeat(6, 6fr);
    gap: 1rem 1rem;
}
.card {
    padding: 20px 30px;
}
#welcome > .content > div > p:first-child {
    font-size: 36px;
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
}
.social-icons {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 195px 50px 50px 50px;
    gap: 1rem;
    align-items: center;
}
.social-icons img {
    width: 37px ;
    height: 37px;
    padding: 7px;
    border: 1px solid #8750f7;
    border-radius: 50%;
}
.content > div > .head_one {
    margin-bottom: 2rem;
}
#skills .head_two {
    text-align: center;
}
#skills .text-primary {
    text-align: center;
    margin-bottom: 3rem;
}
#skills .skills-list .card {
    padding: 40px 15px 30px;

}
#skills .skills-list .card:hover {
    background: #2a1454;
    border: 1px solid #8750f7;
}
#skills .skills-list .card img {
    width: 60px;
    height: 60px;
    filter: grayscale(90%);
    transition: 0.3s;
}
#skills .skills-list .card > .img-wrapper,
#skills .skills-list .card > p {
    text-align: center;
}
#skills .skills-list .card > p {
    margin-top: 1.5rem;
    color: #747779;
    font-weight: 800;
    font-size: 20px;
    line-height: 1;
}
#skills .skill-name {
    text-align: center;
    color: #8750f7;
    margin-top: 1.2rem;
}
#skills .skills-list .card:hover img {
    filter: grayscale(0%);
    transition: 0.3s;
}
footer {
    background: rgb(15,7,21); 
    min-height: 6rem;
    padding: 20px 20px;
}
footer div {
    display: flex;
    justify-content: center;
    gap: 2rem;
}
footer p {
    margin-top: 1rem;
    text-align: center;
}
/* common style  */

.gradient {
    background: linear-gradient( to right, #8750f7 0%, white 100% );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.head_one {
    font-size: 65px;
    font-weight: 700;
}
.head_two {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 2rem;
}

.text-primary {
    font-size: 20px;
}
.secondary-button {
    text-decoration: none;
    font-size: 15px;
    line-height: 1;
    font-weight: 500;
    color: #8750f7;
    border-radius: 50px;
    padding: 17px 35px;
    border: 1px solid #8750f7;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    letter-spacing: 1px;
}
.secondary-button:hover {
    background: #8750f7;
    color: white;
}
.primary-button {
    color: white;
    border-radius: 50px;
    padding: 17px 35px;
    background: linear-gradient(90deg, rgba(33,11,49,1) 0%, rgba(98,53,189,1) 52%);
}
.primary-button:hover {
    background: linear-gradient(90deg, rgba(98,53,189,1) 0%, rgba(33,11,49,1) 52%);
}
.card {
    background: #140c1c;
    border-radius: 20px;
}
.card:hover {
    background: rgb(135,80,247);
    background: linear-gradient(90deg, rgba(135,80,247,1) 0%, rgba(33,11,49,1) 94%);
}

/* media queries  */

@media screen and (max-width:1024px) {
    #welcome, #about {
        column-gap: 4rem;
    }
    .skills-list {
        grid-template-columns: repeat(4, 4fr);
        gap: 1rem 1rem;
    }
}
@media screen and  (max-width:768px) {
    #welcome, #about {
        display: block;
    }
    #welcome > .profile-image {
        margin-top: 3rem;
    }
    #welcome .content > div:first-child {
        text-align: center;
    }
    .social-icons {
        justify-content: center;
    }
    #experience, #education {
        text-align: center;
    }
    .skills-list {
        grid-template-columns: repeat(2, 200px);
        gap: 1rem 1rem;
        place-content: center;
    }
    .head_one {
        font-size: 50px;
    }
    .head_two {
       font-size: 35px;
       margin-bottom: 1rem;
    }
    #experience .card, #education .card {
        margin-bottom: 1rem;
    }
    #education {
        margin-top: 4rem;
    }
    .text-primary {
        font-size: 16px;
    }
    .card .role {
        font-size: 15px;
    }
    .card .year {
        font-size: 15px;
    }
    .card .address {
        font-size: 14px;
    }
    .social-icons {
        column-gap: 1rem;
    }

}
@media screen and  (max-width: 480px) {
    /* header {
        padding: 0px 0px;
    } */
    header p {
        font-size: 1rem;
    }
    .primary-button {
        padding: 10px 20px;
        font-size: 14px;
    }
    .skills-list {
        grid-template-columns: repeat(2, 2fr);
        gap: 1rem 1rem;
    }
    .profile_image_wrapper {
        width: 200px;
        height: 250px;
    }
    .social-icons {
        column-gap: 10px;
        grid-template-columns: 150px 30px 30px 30px;
    }
    .social-icons .icons {
        width: 40px !important;
    }
    footer div {
        flex-direction: column;
        gap: 0px;
    }
}
@media screen and  (max-width: 320px) {
    .skills-list {
        grid-template-columns: repeat(1, 2fr);
        gap: 1rem 1rem;
    }
    header {
        padding: 10px 0px;
    }
    #nav_bar a, #nav_bar > div:nth-child(1) {
        display: none;
    }
  
}